:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

.main-page header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-box {
    display: flex;
    color: var(--title-color);
    align-items: center;
    justify-content: space-between;
}


#logo-box p{
    font-size: 18px;
}

#logo-box p span {
    padding: 0px 0.8rem;
    font-weight: bold;
    /* font-size: 80px; */
}

#logo-box a{
    display: inline;
}

.main-page header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.main-page header a span {
    width: 20px;
    height: 24px;

    margin-right: 16px;
    flex-shrink: 0;
}