@media (max-width: 900px) {
    #page-home{
        background-position: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center
    }

    #page-home header a.side-button{
        position: absolute;
        bottom: 24px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
        margin-bottom: 128px;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-serch-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    } 

    #page-create-point .field-group .field + .field {
        margin-left: 0px;
    }

    .items-grid {
        grid-template-columns: 1fr 1fr;
    }


    @media (max-height: 500px){
        #page-home header a.side-button {
            height: 48px;
            position: absolute;
            top: 455px;
    
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-width: 560px){
    #page-create-point #logo-box,
    #page-search-results #logo-box {
        flex-direction: column;
    }

    @media (max-height: 500px){
        #page-home main {
            padding: 40px 0;
        }
    
        #page-home main h1 {
            font-size: 48px;
        }
    
        #page-home main p {
            font-size: 18px;
        }
    
        #modal form input{
            padding: 16px 8px;
            /* width: 40px; */
        }
    }
}

@media (max-width: 380px){
    #page-home header a.side-button {
        height: 36px;
        padding: 12px 0px;
    }
    
    #modal .content {
        max-width: 300px;
    }

    @media (max-height: 700px){
        #page-home header a.side-button {
            top: 610px;
        }
    }

    @media (max-height: 630px){
        #page-home header a.side-button {
            top: 590px;
            padding-bottom: 25px;
        }
    }
}